<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: common-head('Create Prompt')"></head>
<body class="bg-light">
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container mt-4">

    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="mb-4">Create Prompt</h2>

            <form th:action="@{/prompts/save}" th:object="${prompt}" method="post">

                <input type="hidden" th:field="*{id}" />

                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control" th:field="*{title}" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Content</label>
                    <textarea class="form-control" rows="6" th:field="*{promptText}"></textarea>
                </div>

                <button class="btn btn-success" type="submit">
                    Save
                </button>

                <a class="btn btn-secondary" href="/dashboard">
                    Cancel
                </a>

            </form>
        </div>
    </div>


</div>

</body>
</html>